body {
    font-family: Arial;
    text-align: center;
    margin-top: 60px;
}

.input-box {
    position: relative;
    margin: 10px auto;
    width: 260px;
}

input {
    width: 100%;
    padding: 8px 35px 8px 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#eye {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
}

#loginBtn {
    margin-top: 20px;
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    background-color: #2b6cb0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#loginBtn:hover {
    background-color: #1e4f85;
}

#message {
    display: none;
    margin-top: 25px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
