body {
    font-family: Arial;
    text-align: center;
    margin-top: 80px;
    background-color: #111;
    color: white;
    transition: background-color 0.4s, color 0.4s;
}

/* Nút bật/tắt */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

#message {
    display: none;
    margin-top: 25px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
